.single_cell{
    padding: 10px;
    border-bottom: 1px solid #ada7a7;
}
.cell_alignment{
    text-align: center !important;
}
.table_row_restriction{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}