.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.LivePreviewCheckbox{
    padding: 20x;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ParentCheckboxStatus{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    width: auto;

}
.FirstChildCheckboxStatus{
    padding: 17px;
    width: 33vw;
}
.SecondChildCheckboxStatus{
    /* padding: 17px; */
    width: 72vw;
}
.ApperacnceAccount{
    display: flex;
    justify-content: left;
    align-items: center;
}
.spacing{
    margin-right: 10px;
}
.ParentCheckboxAppearnce{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin-top: 20px;
    width: auto;

}
.OrderBTN{
    display: flex;
    justify-content: right;
    align-items: flex-end;
    margin-top: 10px;
}
.HelpButtonGroup{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}